* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}

.parent {

  min-height: 100vh;
  width: 100%;
  background-color: #0a0a0a;
  padding: 20px;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px 10px 30px;
  width: 300px;
  height: 400px;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(0,255,255,0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
  pointer-events: none;
}

@media (hover: none) {
  .card:hover {
    transform: none;
    box-shadow: none;
  }
}


.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0,255,255,0.5);
}

.card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.top {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}


.top h2{
  color: #0ff;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}


.bottom h3{
  color: rgba(0, 255, 255, 0.692);
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}


.bottom p{
  border-top: 1.5px solid #ababab;
  padding-top: 10px;
  text-align: center;

  font-size: 15px;
  color: #ababab;
  padding-bottom: 20px;

}